@import "./../Styles/variables";
@import "./../Styles/defaults";
@import "./../Styles//mixins";

.box{
    @extend box;
    background-color: $primaryYellow;
    color: #000;
    &:hover{
        background-color: $primaryGreen;
        font-weight: $boldText;
    }
}

.letterGrid{
    @include flexGrid(repeat(5, 1fr));
}

.magic{
    @extend sectionHeight;
    background-color: $primaryBlue;
}

.subtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}
